/* varibles */

$dark-gray: #C6C1B0;
$light-bg: #FDFAF4;
$border: #E4E0D8;
$yellowish-gray: #605E58;

* {
	box-sizing: border-box;
}

body {
	font-family: "Proxima Nova", "sans-serif";
	background-color: #f2eee8;
	font-size: 14px;
	min-width: 1083px;
}

.light {
	font-weight: 100;
}

.medium {
	font-weight: 600;
}

.img-rounded {
	display: block;
	overflow: hidden;
	border-radius: 50%;
	img {
		max-width: 100%;
	}
}

.navbar {
	background-color: $light-bg;
	background-image: url(../imgs/twitter.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 35px;
	margin-bottom: 45px;
	box-shadow: 0px 1px 3px 1px rgba(204,204,204,0.5);
	.logo {
		a {
			display: block;
			padding: 20px 24px;
			border-right: 1px solid #f1ede6;
			img {
				max-width: 43px;
			}
		}
	}
	.nav-icons {
		padding: 0 0 0 15px;
		.circle-icon {
			border-radius: 50%;
		    padding: 13px;
		    display: inline-block;
		    vertical-align: top;
		    border: 1px solid $border;
		    margin: 20px 10px;
		    i {
		    	color: $yellowish-gray;
		    }
		}
	}
	.search {
		position: relative;
		margin-top: 20px;
		input {
			padding: 13px 43px 13px 22px;
			border: 1px solid $border;
			background: none;
			border-radius: 30px;
			color: $dark-gray;
			font-size: 17px;
			font-weight: 100;
		}
		span {
			position: absolute;
			top: 4px;
			right: 6px;
			padding: 10px;
			color: $yellowish-gray;
		}
	}
	.profile {
		max-width: 43px;
		margin-left: 20px;
		margin-top: 20px;
		margin-right: 30px;
	}
}

.wrapper {
	width: 720px;
	box-shadow: 0px 1px 3px 1px rgba(204,204,204,0.5);
	background-color: $light-bg;
	&.tabs {
		margin-bottom: 35px;
		.tab {
			position: relative;
			color: $yellowish-gray;
			text-decoration: none;
			display: block;
			padding: 23px 0;
			span {
				display: block;
				&.headline {
					font-weight: 100;
					color: $dark-gray;
				}
				&.number {
					font-weight: 600;
					font-size: 19px;
					margin-top: 4px;
				}
			}
			&.active {
				&::after {
					content: "";
					position: absolute;
					bottom: 0;
					height: 6px;
					left: 0;
					right: 0;
					background-color: #80A8CC;
				}
			}
		}
	}
	&.tweets {
		.tweet {
			padding: 30px;
			color: $yellowish-gray;
			border-bottom: 1px solid #F1EDE8;
			.tweet-details {
				padding-left: 20px;
				.retweeted {
					i {
						color: #ACD373;
					}
				}
				i {
					font-size: 16px;
					color: #C3BFAF;
				}
				header {
					font-size: 16px;
					color: $dark-gray;
					a {
						font-size: 17px;
						text-decoration: none;
						color: #57575E;
						margin-right: 5px;
					}
				}
				.tweet-text {
					margin-top: 7.5px;
				    font-size: 16px;
				    margin-bottom: 7.5px;
				    font-weight: 100;
				    letter-spacing: 0.1px;
				    line-height: 1.4em;
				}
				.tweet-options {
					margin-top: 10px;
					a:not(:last-child){
						text-decoration: none;
						margin-right: 18px;
					}
				}
				i.fa-arrows-v {
					transform: rotate(45deg);
				}
				.video {
					background-image: url(../imgs/video.png);
					background-repeat: no-repeat;
					background-size: cover;
					height: 250px;
				}
			}
		}
	}
}